<div class="row flex justify-content-center align-items-center">
    <h2 class="col-3 text-center">Lista de Proyectos</h2>
</div>
<div class="row flex justify-content-center align-items-center">
    <a class="btn btn-primary col-3" routerLink="/projects/new">Añadir</a>
</div>
<ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of projects | async">
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>
                    <a class="btn btn-warning btn-sm mx-2" [routerLink]="['/projects/edit', p.id]">Editar</a>
                    <a class="btn btn-danger btn-sm mx-2" (click)="deleteProject(p.id!)">Eliminar</a>
                </td>
            </tr>
        </tbody>
        <li class="list-group-item" *ngFor="let p of projects | async">