<div class="container">
    <div class="row flex justify-content-center align-items-center">
        <h2 class="text-center col-4">Formulario de Tareas</h2>
    </div>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
            <label for="employeeId">Empleado</label>
            <input type="text" class="form-control" id="employeeId" required [(ngModel)]="task.employeeId" name="employeeId">
        </div>
        <div class="form-group">
            <label for="projectId">Proyecto</label>
            <input type="text" class="form-control" id="projectId" required [(ngModel)]="task.projectId" name="projectId">
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" id="description" required [(ngModel)]="task.description" name="description">
        </div>
        <div class="row flex justify-content-center align-items-center mt-2">
            <button type="submit" class="btn btn-primary col-1 mx-2">Guardar</button>
            <button type="button" class="btn btn-danger col-1 mx-2" (click)="deleteTask()">Eliminar</button>
        </div>
    </form>
</div>
