<div class="container">
    <h2>Formulario de Tareas</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
            <label for="employeeId">Empleado</label>
            <input type="text" class="form-control" id="employeeId" required [(ngModel)]="task.employeeId" name="employeeId">
        </div>
        <div class="form-group">
            <label for="projectId">Proyecto</label>
            <input type="text" class="form-control" id="projectId" required [(ngModel)]="task.projectId" name="projectId">
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" id="description" required [(ngModel)]="task.description" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="deleteTask()">Eliminar</button>
    </form>
</div>
